.contains{
    margin-left: 12rem;
    margin-top: 2rem;
}

.upilogo{
    width: 100px;
    height: 60px;
    margin-right: 20px;
}

.xupilogo{
height: 20px;
width: 100px;
}

.yupilogo{
    width: 100px;
    height: 30px;
}