.maindiv{
    margin-left: 30rem;
    margin-top: 10rem;
    border: 2px solid gray;
    width: 40%;
    height: 75%;
}

.containn{
    /* margin-left: 10rem; */
    display: inline;
}
.title{
    margin-bottom: 4rem;
    margin-left: 10rem;
}
.firstinput{
    margin-left: 5rem;
}
.secondinput{
    margin-right: 20rem;
}
.btn{
    margin-top: 3rem;
    margin-left: 10rem;
}